          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
          {% for el_key,el_value in element_info.iteritems() %}
          <tr>
            <td style="width: 40%">
              <span id="element-key-{{loop.index}}" class="w3-text">{{el_key}}</span>
            </td>
            <td style="width: 40%">
              <span id="element-value-{{loop.index}}" class="w3-text">{{el_value}}</span>
            </td>
            <td style="width: 10%">
              <div class="w3-right w3-button">
                <i id="element-delete-{{loop.index}}" class="fa fa-trash"></i>
              </div>
            </td>
            <td style="width: 10%">
              <div class="w3-button w3-right">
                <i id='element-edit-{{loop.index}}' class="fa fa-edit" onClick="openElementForEditing('element-key-{{loop.index}}','element-value-{{loop.index}}')"></i>
              </div>
            </td>
          </tr>  
          {% endfor %}